body {
        color: #39a6b2;
        font-family: Helvetica, Arial, sans-serif;
    }

* {
        margin: 0;
        padding: 0;
    }
      
  
/* apply styles to <header> */
header {
        padding: 15px 20px;
        background-color: #3A3D46;
        height: 90px
    }
header h1 a {
        font-weight: bold;
        font-size: 36px;
        color: #39a6b2;
    }

header h1 {
        font-size: 48px;
        float: left;
        display: inline;
        margin: 0px;
    }

header nav ul li a {
        text-decoration: none;
        color: #39a6b2;
        margin: 0 15px;
        font-weight: bold;
        font-size: 15px;
    }

header nav {
        float: right;
    }

header nav ul li {
        display: inline;
    }
