body {
        color: #39a6b2;
        font-family: Helvetica, Arial, sans-serif;
    }

* {
        margin: 0;
        padding: 0;
    }

/* apply styles to <header> */
header {
        padding: 15px 20px;
        background-color: #3A3D46;
        height: 60px;
        position: relative;
    }
header h1 a {
        font-weight: bold;
        font-size: 45px;
        background-color: #39a6b2;
        padding: 10px;
        justify-content: center;
        width: 400px;
        color: #3A3D46;
        text-align: right;
        height: 34px;
        position: absolute;
    }

header h1 {
        font-size: 48px;
        float: left;
        display: inline;
        margin: 0px;
    }

header nav {
        float: right;
        padding: 15px
    }

header nav ul li {
        display: inline;
    }

header nav ul li a {
        margin: 30px 30px;
        text-decoration: none;
        color: #39a6b2;
        margin: 0 15px;
        font-weight: bold;
        font-size: 17px;
    }
/* styles to <header> end*/

/*styles to <hero> start*/

.hero {
        background-image: url("../images/hero.jpg");
        background-size: cover;
        background-position: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-attachment: fixed;
        background-position: 80%;
        height:300px;
        position: relative;
    }   

    .hero-subtitle {
        background-color: #3A3D46;
        padding: 10px;
        justify-content: center;
        width: 300px;
        color: #39a6b2;
        text-align: center;
        height: 20px;
        position: absolute;
        bottom: 15px;
        right: 0px;
        margin: 0px 20px 0px 0px;
    }
/*styles to <hero> end*/

/*styles to <background> start*/
.background {
        background: #c7d5d6;
        height: 1000px;
    }
/*styles to <background> end*/

/*styles to <bio> start*/
.bio h2 {
        color: #3A3D46;
        text-align: right;
        font-size: 45px;
        margin-bottom: 35px;
        padding: 25px 25px 25px 25px;
        border-right: 3px solid;
        float:left;
        border-color: #3A3D46;
        line-height: 1.5;
    }

.bio-grid {
        flex-wrap: wrap;
        color: #3A3D46;
        text-align: left;
        width: 75%;
        font-size: 15px;
        padding: 40px 70px 0px 20px;
        display:grid;
        grid-template-columns: repeat(1,1fr);
        grid-auto-rows: minmax(150px,1fr);
        grid-gap:10px;
        padding: 40px 70px 0px 20px;
    }
/*styles to <bio> end*/

/*styles to <work> starts*/
.work h2 {
        color: #3A3D46;
        text-align: left;
        font-size: 45px;
        margin-bottom: 35px;
        padding: 25px 25px 25px 42px;
        border-right: 3px solid;
        float:left;
        border-color: #3A3D46;
        line-height: 10;
    }

.grid {
        display:grid;
        grid-template-columns: repeat(12,1fr);
        grid-auto-rows: minmax(150px,1fr);
        grid-gap:10px;
        padding: 0px 70px 0px 20px;
    }

.main-grid-item {
        border: 3px solid #39a6b2;
        grid-column:span 8;
        grid-row: span 2;
        background-image: url("../images/runbuddy.jpg");
        background-size: cover;
    }

.grid-item-horiseon {
        border: 3px solid #39a6b2;
        background-image: url("../images/horiseon.jpg");
        background-size: cover;
        grid-column: span 4;
    }
.main-grid-item button {
        color: #3A3D46;
        background-color: #39a6b2;
        border: solid;
        padding: 10px 20px;
        font-size: 16px;
    }

.grid-item{
        grid-column: span 4;
        border: 3px solid #39a6b2;
        display:flex;
        align-items: center;
        justify-content: center;
    }

.grid-item img {
    object-fit: cover;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    display: block;
}
/*styles to <work> ends*/

/*styles to <contact-info> start*/
.contact h2 {
    color: #3A3D46;
    text-align: right;
    font-size: 45px;
    margin-bottom: 35px;
    padding: 0px 25px 25px 10px;
    border-right: 3px solid;
    float:left;
    border-color: #3A3D46;
    line-height: 1.2;
}

.contact-info ul li a {
        text-decoration: none;
        color: #39a6b2;
        margin: 0 15px;
        font-weight: bold;
        font-size: 15px;
        display: inline;
    }

.contact-info ul li {
        display: inline;
    }


/*styles to <contact-info> end*/


